

html{
    margin: 0;
}


body{
    margin:0;
    background-image: url(uswbbt.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    

}


h1{
    font-family: Arial;
    position: absolute;
    bottom: 12mm;
    left: 20mm;
    font-size: 8em;
    color: white;

    



}
.score {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 



}

.logo {
    position: absolute;
    bottom: 12mm;
    right: 20mm;

}

