body{
    background-color: rgb(121, 163, 164);

}



#grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr 1fr 1fr;


}

#grid-parent{
    background-color: rgb(34, 80, 78);
    padding: 2vw 3vh;     
    margin: 3vw;  
    width: 400px; 
    margin: 0 auto; 
}
    




.key {
    font-size: 24px;
    padding: 20px;
    background-color: rgb(15, 182, 191);
    border: none;
    cursor: pointer;
  }
  
#display {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    min-height: 30px;
    color: black;
 
  }
  

.header{
    font-size: large;
}


.key:hover{
    background-color:rgb(9, 125, 131);

}

#enter, #clear {
    padding: 12px 24px;
    font-size: 16px;
    background-color: rgb(206, 250, 253);
    border: 1px;
    cursor: pointer;
    align-items: center;
}