
#grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    /* //this is saying that we want three colums, this is our denominator(1/3, 1/3, 1/3)*/
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* 4 rows */

}

#grid-parent{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    grid-column-start: 2;
    grid-column-end: 3;


    
}

.key {
    font-size: 24px;
    padding: 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
  }
  
#display {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    min-height: 30px;
  }
  