body{
    background-color:rgb(6, 6, 60);
 

}

body img{
    object-fit: cover;
    overflow-x: hidden;
}



section{
    margin-bottom:50px;
}

h1{
    text-align: center;
    color: rgb(135, 215, 237);
    font-family: "elevon", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

h2{
    text-align: center;
    color: rgb(58, 207, 56);
}

nav{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between, center;
    align-items: center;
    height: 40px;
    background-color: rgb(57, 226, 99);
    position: sticky;
    top:0;


}


nav a{
    width:30vw;
    text-align: center;
    text-decoration: none;
    color:black;
    
    
}
nav a:hover{
    background-color: blue;
}


.concert p{
    color: white;
}
.concert h3{
    color: white;
}
.concert #information{
    color:white;
}
.concert h4{
    color:white;
}


.concert{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;   
    border-style: solid;
    background-color: rgb(13, 54, 90);


}
.concert #information #discription{
    flex-direction: row;
}


